// Colors
$color-primary: #23941b;
$color-secondary: #8c1b94;
$color-white: #ffffff;
$color-green: #23941b;
$color-green-dark: #14540f;
$color-black: #222222;
$color-grey: #a3b8a1;

//Units
$unit1: 4px;
$unit2: 8px;
$unit3: 16px;
$unit4: 32px;
