body {
  font-family: 'Noto Serif', serif;
  background: linear-gradient(to top, #1f301e, #2b4a29);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  color: $color-white;
}

.app-container {
  width: 100%;
  width: 100vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: $unit4;
}

.logo {
  width: 50%;
  max-width: 150px;
}

.logo-small {
  width: 20%;
  max-width: 80px;
}

h1 {
  text-transform: uppercase;
}

.btn--outline {
  &.MuiButton-root {
    color: $color-primary;
    border-color: $color-primary;
    margin: $unit1 $unit2;
  }
}

.btn--group {
  &.MuiButton-root {
    color: $color-primary;
    border-color: $color-primary;
  }
}

.text-green {
  color: $color-primary;
}
