body {
  font-family: 'Noto Serif', serif;
  background: linear-gradient(to top, #1f301e, #2b4a29);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  color: #ffffff; }

.app-container {
  width: 100%;
  width: 100vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px; }

.logo {
  width: 50%;
  max-width: 150px; }

.logo-small {
  width: 20%;
  max-width: 80px; }

h1 {
  text-transform: uppercase; }

.btn--outline.MuiButton-root {
  color: #23941b;
  border-color: #23941b;
  margin: 4px 8px; }

.home {
  flex: 1;
  width: 100%;
  min-height: 90vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
